<!DOCTYPE html>
<html lang="en">

<head>
    <title>Request Change</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Inventory tab -->
                    <li class="nav-item">
                        <a class="nav-link" href="./lilee_co.html">Inventory</a>
                    </li>
                    <!-- Order tab -->
                    <li class="nav-item">
                        <a class="nav-link" href="./vieworder.html">Order</a>
                    </li>
                    <!-- Request Change Order tab -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Request Change Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="app" class="container">
        <h1>View Request Tickets</h1>
        <div class="row">
            <div class="col-lg-12">
                <!-- Order Table -->
                <table class="table table-striped" v-if="tickets.length > 0">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Request ID</th>
                            <th>Customer ID</th>
                            <th>Contact No</th>
                            <th>Balance Amt</th>
                            <th>Total Price</th>
                            <th>New Shipping Method</th>
                            <th>Approval Status</th>
                            <th>Timestamp</th>
                            <th>Request Item</th>
                            <th></th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr v-for="ticket in tickets" :key="ticket.order_id">
                            <td>{{ ticket.order_id }}</td>
                            <td>{{ ticket.request_id }}</td>
                            <td>{{ ticket.cust_id }}</td>
                            <td>{{ ticket.contact_no }}</td>
                            <td>{{ ticket.balance_amt }}</td>
                            <td>{{ ticket.total }}</td>
                            <td>{{ ticket.new_shipping_method }}</td>
                            <!-- <td>{{ ticket.approval_status }}</td> -->

                            <td>
                                <select v-model="selectedStatus[ticket.order_id + '-' + ticket.request_id]">
                                    <option v-for="status in approvalStatus" :value="status">{{ status }}</option>
                                </select>
                                <button class="btn btn-primary" @click="updateApprovalStatus(ticket.order_id, ticket.request_id)">Update</button>
                            </td>


                            <td>{{ ticket.timestamp }}</td>
                            <td>
                                <table v-if="ticket.RequestItem">
                                    <tr>
                                        <th>Item No</th>
                                        <th>Old ID</th>
                                        <th>Old Size</th>
                                        <th>Old Quantity</th>
                                        <th>Old Price</th>
                                        <th>New ID</th>
                                        <th>New Size</th>
                                        <th>New Quantity</th>
                                        <th>New Price</th>
                                    </tr>
                                    <tr v-for="item in ticket.RequestItem" :key="item.item_no">
                                        <td>{{ item.item_no }}</td>
                                        <td>{{ item.old_id }}</td>
                                        <td>{{ item.old_size }}</td>
                                        <td>{{ item.old_quantity }}</td>
                                        <td>{{ item.old_price }}</td>
                                        <td>{{ item.new_id }}</td>
                                        <td>{{ item.new_size }}</td>
                                        <td>{{ item.new_quantity }}</td>
                                        <td>{{ item.new_price }}</td>
                                    </tr>
                                </table>
                                <span v-else>No items</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" @click="redirect(ticket.order_id, ticket.request_id)">View Ticket</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-danger" v-if="tickets.length === 0">{{ message }}</div>
            </div>
        </div>
    </div>

    <script>
        const getReqURL = "https://personal-4acjyryg.outsystemscloud.com/Request/rest/v1/request/";

        const app = Vue.createApp({
            data() {
                return {
                    tickets: [],
                    message: "Loading request data...",
                    selectedStatus: {}
                };
            },
            methods: {
                fetchReqs() {
                    fetch(getReqURL)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to fetch data');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data); // Log the data to see its format
                            if (data.hasOwnProperty('Tickets')) {
                                this.tickets = data.Tickets;
                                this.selectedStatus = {};
                                this.tickets.forEach(ticket => {

                                    // Use a unique key combining order_id and request_id
                                    const key = `${ticket.order_id}-${ticket.request_id}`;                                    
                                    
                                    this.selectedStatus[key] = ticket.approval_status;
                                });
                                this.message = ""; // Clear loading message on successful data retrieval
                            } else {
                                throw new Error('Invalid data format');
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching tickets:', error.message);
                            this.message = 'Error fetching request tickets data. Please try again later.';
                        });
                },

                updateApprovalStatus(orderId, reqId) {
                    const newStatus = this.selectedStatus[orderId + '-' + reqId];
                    const requestData = {
                        order_id: orderId,
                        order_status: newStatus,
                        request_id: reqId 
                    };


                    
                    fetch("http://localhost:5200/request_handler", {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to update approval status');
                            }
                            console.log(response.data)
                            this.fetchReqs();
                            alert("You update has been successful!")
                            console.log("Your update has been successful!")

                            // Send SMS
                            const statusMessage = {
                                'REV': 'under review',
                                'PEN': 'pending payment',
                                'ACC': 'accepted',
                                'REJ': 'rejected'
                            };

                            //not sure if this works might need cong to try
                            this.sendSMS(`Your request is ${statusMessage[newStatus]}`); 

                        })
                        .catch(error => {
                            console.error('Error updating approval status:', error);
                            // Handle error, display message, etc.
                        });
                },

                redirect(orderId, reqId) {
                    // console.log(orderId, reqId)

                    
                    window.open(`request_ticket.html?orderId=${orderId}&reqId=${reqId}`) //this line works, but need to pass parameters of orderid and reqid into it

                    fetch(`https://personal-4acjyryg.outsystemscloud.com/Request/rest/v1/request/${orderId}/${reqId}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to fetch data');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)
                    })
                    .catch(error => {
                        console.error('Error fetching ticket:', error.message);
                        this.message = 'Error fetching request ticket data. Please try again later.';
                })
                },

                sendSMS(message) {
                    fetch('http://localhost:5005/send_sms', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ message })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to send SMS');
                        }
                        console.log('SMS sent successfully!');
                    })
                    .catch(error => {
                        console.error('Error sending SMS:', error.message);
                    });
                }

            },
            created() {
                this.fetchReqs();
            },
            computed: {
                approvalStatus() {
                    return ['REV', 'PEN', 'ACC', 'REJ']; 
                }
            } 
            
        });

        const vm = app.mount('#app');
    </script>

    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>

</body>

</html>