<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <!-- Vue.js 3 CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
    </style>

<body>
    <h1>Tuition Booking</h1>
    <!-- Tutor Listing -->
    <div id="app">   
        <button v-on:click="renderProfiles()">Test</button>
        <!-- Tutor Profile Display -->
        <div class="container">
            <div class="row">
                <div v-for="tutor of tutors" class="col-12 col-md-6 col-lg-3 p-2">
                    <!-- Display Infor -->
                    <div class="card h-100 w-100" >
                        <img :src="tutor.profileURL" class="card-img-top p-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{tutor['name']}}</h5>
                            <p >Hi I'm {{tutor.name}}, I'm efficient in teaching {{tutor.subject}}</p>
                            <p>I'm available on: </p>
                            <ul class="list-group list-group-flush text-center"> 
                                <li class="list-group-item border text-center mb-2 mx-2" v-for="timeSlot in tutor.timeSlots">
                                    <strong>{{timeSlot.date}}</strong>  <br>
                                    {{timeSlot.time}}
                                </li>
                            </ul>
                            <p>Nearest MRT: {{tutor.nearestMRT}}</p>
                            <p class="text-muted fs-6">Distance from your nearest MRT Station: {{tutor.distance[0]}} {{tutor.distance[1]}} </p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#' + tutor.tutorID">
                                Schedule Session
                            </button>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" :id="tutor.tutorID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Book a Tuition Session with {{tutor.name}}</h5>
                            <button v-on:click="resetSelected()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <label for="select" class="col-form-label">Tuition Session</label>
                                    <select id="select" class="form-select" aria-label="Default select example" v-model="selected" required>
                                        <option v-for="slot in tutor.timeSlots" :value="slot.listingID">
                                            {{slot.date}} 
                                            {{slot.time}}
                                        </option>
                                      </select>
                                    <label for="comment">Additional Notes: </label>
                                    <textarea v-model="notes" class="form-control" rows="5" id="comment" name="text" :placeholder="'Write a note to ' + tutor.name + '...'"></textarea>
                                  </form>
                            </div>
                            <div class="modal-footer">
                            <button v-on:click="resetSelected()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button v-on:click="handleBooking()" type="button" class="btn btn-primary">Book Now</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Confirmation Box -->

                </div>
            </div>
        </div>

        <!-- Booking Modal -->


    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkXhTb1Gj92FtV987iJRfW__Ne25HrEUU&libraries=geometry"></script>
    <script src="./booking.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>